<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<section class="py-10 flex justify-center">
    <div class="w-10/12">
        <div class="flex justify-between mt-10">
            <div class="flex justify-between">
                <div class="w-3/12">
                    <img src="{{ book.image_url }}" width="200"/>
                </div>
                <div class="w-9/12">
                    <p class="text-3xl">About</p>
                    <p class="text-gray-600 mt-5">{{ book.short_description }}</p>

                    <div class="mt-10">
                        <p class="text-3xl">Pages</p>
                        <p class="text-gray-600 mt-5">Total {{ book.page_count }} pages</p>
                    </div>

                    <div class="mt-10">
                        <p class="text-3xl">Author</p>
                        <p class="text-gray-600 mt-5">{{ book.authors|join:', ' }}</p>
                    </div>
                    <div class="mt-10">
                        <p class="text-3xl">Description</p>
                        <p class="text-gray-600 mt-4">{{ book.long_description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>